<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>branda login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="all" href="{{url_for('static', filename='bootstrap/dist/css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='bootstrap/dist/js/bootstrap.min.js')}}"></script>
</head>
<body>
    <table border="0" align="center" cellpadding="5" cellspacing="0" >
        <br>
        <br>
        <br>
        <br>
        <tbody>
        <tr></tr>
            <td><img src="static/bootstrap/images/admin.ico"  alt="admin" width="220px" height="220px"/></td >
            <td><img src="static/bootstrap/images/admin.png"  alt="admin" width="200px" height="220px"/></td>
        <tr>
          
        <td> <font face="Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black, sans-serif" ><h1 align="center"><a href="login_adm">Admin</a></h1></font></td>
        
        <td><font face="Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black, sans-serif" ><h1 align="center"><a href="login_mhs">Mahasiswa</a></h1></font></td>
        </tr>
    </tbody>
    </table>
</body>
</html>

    

