{%extends 'admin/dash_admin.html'%}

{%block content%}

<title>MATA KULIAH</title>   
<div class=" m-t-180">
<h1 align="center"> DATA MATAKULIAH </h1>
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <!-- USER DATA-->
                <div class="user-data m-b-40">
                    <h3 class="title-3 m-b-30">
                        <i class="zmdi zmdi-account-calendar"></i>Data MK</h3>
                    <div class="filters m-b-45"></div>
                        
                       
                    <div class="table-responsive table-data">
                        <table class="table">
                            <thead>

                                    <th>Kode MK</th>
                                    <th>Nama MK</th>
                                    <th>SKS</th>
                                    <th>SEMESTER </th>
                                    <th>aksi</th>
 
                            </thead>

                            <tbody>
                                    {%for mk in mk_view%}
                                <tr>
                                    <td>{{mk.kd_mk}} </td>
                                    <td>{{mk.nama_mk}} </td>
                                    <td>{{mk.sks}} </td>
                                    <td>{{mk.semester}} </td>
                                    <td><a class="js-arrow" href="{{url_for("deletemk",id=mk.id)}}"><button class="au-btn au-btn-icon au-btn--blue au-btn--small">
                                            <i class="zmdi zmdi-plus"></i>Hapus</button></a></td>
                                </tr>
                                    {%endfor%}
                            </tbody>
                        </table>
                        
                    </div>
                    </div>

                </div>
                </div>
                </div>
                <a class="js-arrow" href="mk_input"><button class="au-btn au-btn-icon au-btn--green au-btn--small ">
                        <i class="zmdi zmdi-plus"></i>Tambah Data</button></a>

                
                <!-- END USER DATA-->
            

{%endblock%}